#banner {
    margin-left: 10em;
    margin-right: 10em;
    width: 100em;
    height: 3.5em;
}

#logo {
    float: left;
    background-image: url(../images/logohd.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 30%;
}

#phone_num {
    float: right;
    height: 100%;
    width: 30%;
}